.git
.gitignore
.dockerignore

node_modules
coverage
tests
docs

*.log
npm-debug.log*
.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
deploy.sh
CHANGELOG.md
CONTRIBUTING.md
DEPLOY.md
QUICK_DEPLOY.md
README.md
babel.config.js
jest.config.js
package-lock.json
package.json
